# /ALWAYSON/quadlet/sales/ao-mastodon-sidekiq.container
# ALWAYS ON Mastodon background workers
[Unit]
Description=ALWAYS ON Mastodon Sidekiq
After=ao-mastodon-db.service ao-mastodon-redis.service ao-sales-network.service
Wants=ao-mastodon-db.service ao-mastodon-redis.service

[Container]
Image=ghcr.io/mastodon/mastodon@sha256:76436bccad38f134cb9a5a6e9c83445915790fc12caf60e3a8ee9cbef8376a56
ContainerName=mastodon-sidekiq
Network=ao-sales-network.network
EnvironmentFile=%h/secrets/mastodon.env
NoNewPrivileges=true
Exec=/bin/sh -c "bundle exec sidekiq -q default -q push -q pull_request -q mailers -q scheduler"

[Service]
WorkingDirectory=%h
Restart=on-failure
RestartSec=15
MemoryMax=4G

[Install]
WantedBy=default.target