# /ALWAYSON/quadlet/mapping/ao-webodm-broker.container
[Unit]
Description=ALWAYS ON WebODM Redis Broker
[Container]
Image=redis@sha256:91d0f7e8c748ec7a4c2b4fb2c4f84edab794dd91d01e095e38dc906db9d684ab
ContainerName=broker
Network=ao-mapping.network
NoNewPrivileges=true
HealthCmd=redis-cli ping
HealthInterval=30s
[Service]
Restart=on-failure
RestartSec=15
MemoryMax=512M
[Install]
WantedBy=default.target
